################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mobile _Test/v16/TestStore/0
/.vs/slnx.sqlite
/.vs/Mobile _Test/v16
/bin/Debug/netcoreapp3.1/cs
/bin/Debug/netcoreapp3.1
/.vs/MobileTest
/.vs
/obj
